<div class="banner2" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.7) 0%, rgba(0,36,61,0.6) 50%), url('https://previews.123rf.com/images/mackoflower/mackoflower1507/mackoflower150700433/42590633-Collage-of-lots-of-popular-worldwide-dinner-foods-and-appetizers-Stock-Photo.jpg');">
<div class="banner-content">
  <h1>CommeALaMaison</h1>
  <p> 🍗Quelques offres disponibles 🍱</p>
  <%= link_to 'inscription', new_user_session_path, class: 'btn btn-primary btn-lg' %>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/1200px-Good_Food_Display_-_NCI_Visuals_Online.jpg');">
        <div class="card-category">Vegetalien</div>
        <div class="card-description">
          <h2>Déliceux</h2>
<!--           <p>Very cool city, the best</p>
 -->        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/test">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSflv0FeE3dLg3vnWXOpISjXDWzFFEy7OhsB2dYl6-1-wE8Dw82Gw');">
        <div class="card-category">Chaud</div>
        <div class="card-description">
          <h2>Epicé</h2>
<!--           <p>Very cool city, the best</p>
 -->        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/dog">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/1200px-Good_Food_Display_-_NCI_Visuals_Online.jpg');">
        <div class="card-category">Froid</div>
        <div class="card-description">
          <h2>Savoureux</h2>
<!--           <p>Very cool city, the best</p>
 -->        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/men">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://images.unsplash.com/photo-1485963631004-f2f00b1d6606?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=1bd2bc772441c17f66a814af0ee0aed0');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Miam</h2>
<!--           <p>Very cool city, the best</p>
 -->        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/jkam">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://images.terro.com/is/image/woodstream/ter-insects-food_%20cricket_0050?$fullpng$');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Vous allez adorer</h2>
<!--           <p>Very cool city, the best</p>
 -->        </div>
        <img class="card-user" src="http://www.recipetineats.com/wp-content/uploads/2016/08/Easy-Spanish-Tapas.jpg">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://image.afcdn.com/recipe/20160226/13818_w1024h768c1cx300cy225.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Finger licking good</h2>
<!--           <p>Very cool city, the best</p>
 -->        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/women">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://vietnamparadisetravelblog.files.wordpress.com/2016/08/voyage-vietnam-nem.jpg?w=1280&h=720&crop=1');">
        <div class="card-category">Vegan</div>
        <div class="card-description">
          <h2>Délice d'orient</h2>
<!--           <p>Very cool city, the best</p>
 -->        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/women">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAe2GD0u0bcaZ-QXUIFKpcL15cGaUyb4F2qtmd6--Fm9wPmppm');">
        <div class="card-category">Bio</div>
        <div class="card-description">
          <h2>Un lassique revisité</h2>
<!--           <p>Very cool city, the best</p>
 -->        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/random">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i5.walmartimages.com/asr/a1ef35cf-c445-4108-900a-8a373e6e2091_1.60fc483d72ac9255060e48a6c2f4bb9a.jpeg');">
        <div class="card-category">bio</div>
        <div class="card-description">
          <h2>Oufissime</h2>
<!--           <p>Very cool city, the best</p>
 -->        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/random">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
